// DO NOT WRITE ANY STYLE IN THIS FILE
// If you want to add your own styles, please write it in the `./assets/scss/custom.scss` file.
.section-overlay {
    position: fixed;
    top: 0;
    height: 100%;
    min-height: 700px;
    width: 100%;
    z-index: -100;
}

.page-amplitude-wrapper + .section-overlay,
#page-particle + .section-overlay {
    z-index: 0;
}