{{ define "main" }}
  {{ with site.GetPage "homepage" }}
    <!-- Banner -->
    {{ with .Params.banner }}
      <section class="section pt-14">
        <div class="container">
          <div class="row justify-center">
            <div class="lg:col-7 mb-8 text-center">
              <h1 class="mb-4">
                {{ .title | markdownify }}
              </h1>
              <p class="mb-8">
                {{ .content | markdownify }}
              </p>
              {{ with .button }}
                {{ if .enable }}
                  <a class="btn btn-primary" href="{{ .link | absURL }}">
                    {{ .label }}
                    <i class="fa fa-arrow-right pl-2"></i>
                  </a>
                {{ end }}
              {{ end }}
            </div>
            <div class="col-12">
              {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto" "Size" "800x") }}
            </div>
          </div>
        </div>
      </section>
    {{ end }}
    <!-- /Banner -->

    <!-- Features -->
    {{ if .IsHome }}
<script> var pluginName = "homing-particles",
  defaults = {
	BASE_PARTICLE_COUNT : 15,
	WATCH_INTERVAL : 1,
	THRESHOLD : 30,
	SPRING_AMOUNT : 0.01,
	LIMIT_RATE : 0.8,

	BACKGROUND_COLOR_HUE : 0,
	BACKGROUND_COLOR_SATURATION : 0,
	BACKGROUND_COLOR_LIGHTNESS : 0,
	BACKGROUND_COLOR_ALPHA : 0.3,
	PARTICLE_COLOR_SATURATION : 360,
	PARTICLE_COLOR_LIGHTNESS : 15
  };


var RENDERER = {	
	init : function(){
		this.setParameters();
		this.reconstructMethods();
		this.setup();
		this.bindEvent();
		this.render();
	},
	setParameters : function(){
		this.$window = $(window);
		this.$container = $('#homing-particles');
		this.$containerInside = $('#info');
		this.$canvas = $('<canvas />');
		this.context = this.$canvas.appendTo(this.$container).get(0).getContext('2d');
		this.particles = [];
		this.watchIds = [];
	},
	setup : function(){
		this.particles.length = 0;
		this.watchIds.length = 0;
		this.width = this.$container.width();
		this.height = this.$container.height();
		this.gravity = {x : this.width / 2, y : this.height / 2, on : true, radius : 100, gravity : true};
		this.$canvas.attr({width : this.width, height : this.height});
		this.distance = Math.sqrt(Math.pow(this.width / 2, 2) + Math.pow(this.height / 2, 2));
		this.createParticles();
	},
	reconstructMethods : function(){
		this.watchWindowSize = this.watchWindowSize.bind(this);
		this.jdugeToStopResize = this.jdugeToStopResize.bind(this);
		this.render = this.render.bind(this);
	},
	createParticles : function(){
		for(var i = 0, count = (defaults.BASE_PARTICLE_COUNT * this.width / 500 * this.height / 500) | 0; i < count; i++){
			this.particles.push(new PARTICLE(this));
		}
	},
	watchWindowSize : function(){
		this.clearTimer();
		this.tmpWidth = this.$window.width();
		this.tmpHeight = this.$window.height();
		this.watchIds.push(setTimeout(this.jdugeToStopResize, defaults.WATCH_INTERVAL));
	},
	clearTimer : function(){
		while(this.watchIds.length > 0){
			clearTimeout(this.watchIds.pop());
		}
	},
	jdugeToStopResize : function(){
		var width = this.$window.width(),
			height = this.$window.height(),
			stopped = (width == this.tmpWidth && height == this.tmpHeight);
			
		this.tmpWidth = width;
		this.tmpHeight = height;
		
		if(stopped){
			this.setup();
		}
	},
	bindEvent : function(){
		this.$window.on('resize', this.watchWindowSize);
		this.$containerInside.on('mousemove', this.controlForce.bind(this, true));
		this.$containerInside.on('mouseleave', this.controlForce.bind(this, false));
	},
	controlForce : function(on, event){
		this.gravity.on = on;
		
		if(!on){
			return;
		}
		var offset = this.$container.offset();
		this.gravity.x = event.clientX - offset.left + this.$window.scrollLeft();
		this.gravity.y = event.clientY - offset.top + this.$window.scrollTop();
	},
	render : function(){
		requestAnimationFrame(this.render);
		
		var context = this.context;
		context.save();
		context.fillStyle = 'hsla(' + defaults.BACKGROUND_COLOR_HUE + ', ' + defaults.BACKGROUND_COLOR_SATURATION +'%, ' + defaults.BACKGROUND_COLOR_LIGHTNESS + '%, ' + defaults.BACKGROUND_COLOR_ALPHA + ')';
		context.fillRect(0, 0, this.width, this.height);
		context.globalCompositeOperation = 'lighter';
		
		for(var i = 0, particles = this.particles, gravity = this.gravity, count = particles.length; i < count; i++){
			var particle = particles[i];
			
			for(var j = i + 1; j < count; j++){
				particle.checkForce(context, particles[j]);
			}
			particle.checkForce(context, gravity);
			particle.render(context);
		}
		context.restore();
	}
};
var PARTICLE = function(renderer){
	this.renderer = renderer;
	this.init();
};
PARTICLE.prototype = {	
	init : function(){
		this.radius = this.getRandomValue(10, 20);
		this.x = this.getRandomValue(-this.renderer.width * defaults.LIMIT_RATE, this.renderer.width * (1 + defaults.LIMIT_RATE)) | 0;
		this.y = this.getRandomValue(-this.renderer.width * defaults.LIMIT_RATE, this.renderer.height * (1 + defaults.LIMIT_RATE)) | 0;
		this.vx = this.getRandomValue(-3, 3);
		this.vy = this.getRandomValue(-3, 3);
		this.maxVelocity = this.getRandomValue(5, 10);
		this.ax = 0;
		this.ay = 0;
		this.gravity = false;
		this.transformShape();
	},
	getRandomValue : function(min, max){
		return min + (max - min) * Math.random();
	},
	transformShape : function(){
		var velocity = Math.sqrt(this.vx * this.vx + this.vy * this.vy);
		this.scale = 1 - velocity / 15;
		this.hue = ((360 + velocity * 2) % 360) | 0;
	},
	checkForce : function(context, particle){
		if(particle.gravity && !particle.on){
			return;
		}
		var dx = particle.x - this.x,
			dy = particle.y - this.y,
			distance = Math.sqrt(dx * dx + dy * dy);
			
		if(distance > defaults.THRESHOLD * (particle.gravity ? 10 : 1)){
			return;
		}
		var rate = defaults.SPRING_AMOUNT / (this.radius + particle.radius);
		
		if(particle.gravity){
			var accelaration = Math.min(0.3, 50 / distance);
			this.ax = (dx > 0 ? accelaration : -accelaration);
			this.ay = (dy > 0 ? accelaration : -accelaration);
		}else{
			this.ax = dx * rate * particle.radius;
			this.ay = dy * rate * particle.radius;
			particle.ax = -dx * rate * this.radius;
			particle.ay = -dy * rate * this.radius;
		}
	},
	render : function(context){
		context.save();
		context.fillStyle = 'hsl(' + this.hue + ', ' + defaults.PARTICLE_COLOR_SATURATION + '%, ' + defaults.PARTICLE_COLOR_LIGHTNESS + '%)';

		context.translate(this.x, this.y);
		context.rotate(Math.atan2(this.vy, this.vx) + Math.PI / 2);
		context.scale(this.scale, 1);
		context.beginPath();
		context.arc(0, 0, this.radius, 0, Math.PI * 2, false);
		context.fill();
		context.restore();
		
		this.x += this.vx;
		this.y += this.vy;
		this.vx += this.ax;
		this.vy += this.ay;
		this.vx = Math.min(Math.max(this.vx, -this.maxVelocity), this.maxVelocity);
		this.vy = Math.min(Math.max(this.vy, -this.maxVelocity), this.maxVelocity);
		
		if(this.x < -this.radius && this.vx < 0 || (this.x > this.renderer.width + this.radius) && this.vx > 0 || this.y < -this.radius && this.vy < 0 || (this.y > this.renderer.height + this.radius) && this.vy > 0){
			var theta = this.getRandomValue(0, Math.PI * 2),
				sin = Math.sin(theta),
				cos = Math.cos(theta),
				velocity = this.getRandomValue(-3, 3);
				
			this.x = -(this.renderer.distance + this.radius) * cos + this.renderer.width / 2;
			this.y = -(this.renderer.distance + this.radius) * sin + this.renderer.height / 2;
			this.vx = velocity * cos;
			this.vy = velocity * sin;
		}
		this.transformShape();
	}
};
$(function(){
	RENDERER.init();
}); </script> 
{{ end }}
    {{ range $i, $e:= .Params.features }}
      <section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
        <div class="container">
          <div class="row items-center justify-between">
            <div
              class="mb:md-0 {{ if not (modBool $i 2) }}
                md:order-2
              {{ end }} md:col-5 mb-6">
              {{ partial "image" (dict "Src" .image "Alt" "feature image") }}
            </div>
            <div
              class="{{ if not (modBool $i 2) }}
                md:order-1
              {{ end }} md:col-7 lg:col-6">
              <h2 class="mb-4">
                {{ .title | markdownify }}
              </h2>
              <p class="mb-8 text-lg">
                {{ .content | markdownify }}
              </p>
              <ul>
                {{ range .bulletpoints }}
                  <li class="relative mb-4 pl-6">
                    <i class="fa fa-check absolute left-0 top-1.5"></i>
                    {{ . | markdownify }}
                  </li>
                {{ end }}
              </ul>
              {{ with .button }}
                {{ if .enable }}
                  <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
                    {{ .label }}
                    <i class="fa fa-arrow-right pl-2"></i>
                  </a>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </section>
    {{ end }}
    <!-- /Features -->

    <!-- Testimonials -->
    {{ with site.GetPage "sections/testimonial" }}
      {{ if .Params.enable }}
        <section class="section">
          <div class="container">
            <div class="row">
              <div
                class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
                <h2 class="mb-4">
                  {{ .Title | markdownify }}
                </h2>
                <p>
                  {{ .Params.description | markdownify }}
                </p>
              </div>
              <div class="col-12">
                <div class="swiper testimonial-slider">
                  <div class="swiper-wrapper">
                    {{ range .Params.testimonials }}
                      <div class="swiper-slide">
                        <div
                          class="bg-theme-light dark:bg-darkmode-theme-light rounded-lg px-7 py-10">
                          <div class="text-dark dark:text-white">
                            <svg
                              width="33"
                              height="20"
                              viewBox="0 0 33 20"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M1.28375 19.41L0.79375 18.64C1.21375 17.0067 1.75042 15.07 2.40375 12.83C3.05708 10.5433 3.75708 8.28 4.50375 6.04C5.29708 3.75333 6.06708 1.77 6.81375 0.0899959H15.3538C14.9338 2.09666 14.4904 4.26667 14.0238 6.6C13.5571 8.88666 13.1371 11.15 12.7638 13.39C12.4371 15.5833 12.1571 17.59 11.9238 19.41H1.28375ZM31.69 0.0899959L32.18 0.859998C31.76 2.54 31.2233 4.5 30.57 6.74C29.9167 8.98 29.2167 11.2433 28.47 13.53C27.7233 15.77 26.9533 17.73 26.16 19.41H17.69C18.0167 17.9167 18.3433 16.33 18.67 14.65C18.9967 12.9233 19.3 11.22 19.58 9.54C19.9067 7.81333 20.1867 6.15667 20.42 4.57C20.7 2.93666 20.91 1.44333 21.05 0.0899959H31.69Z"
                                fill="currentColor" />
                            </svg>
                          </div>
                          <blockquote class="mt-8">
                            {{ .content | markdownify }}
                          </blockquote>
                          <div class="mt-11 flex items-center">
                            <div class="text-dark dark:text-white">
                              {{ partial "image" (dict "Src" .avatar "Size" "50x50" "Class" "rounded-full" "Alt" .name) }}
                            </div>
                            <div class="ml-4">
                              <h3 class="h5 font-primary font-semibold">
                                {{ .name }}
                              </h3>
                              <p class="text-dark dark:text-white">
                                {{ .designation | markdownify }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    {{ end }}
                  </div>
                  <div
                    class="testimonial-slider-pagination mt-9 flex items-center justify-center text-center"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      {{ end }}
    {{ end }}
    <!-- /Testimonials -->
  {{ end }}
{{ end }}
