<!doctype html>
<html>
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title of Website -->
  <title>Zu Pixel</title>
  <meta name="description" content="Coming Soon Landing Page">
  <meta name="keywords" content="Kounter, html theme, Coming Soon Landing Page, Coming Soon Landing Page template, html landing page, one page, responsive landing page">
  <meta name="author" content="Egotype">
<!--CSS PARTICLES -->
{{ partial "css-particles.html" . }}
  <!-- Bootstrap -->
  <link rel="stylesheet" href="partials/css-particles/bootstrap-particles.css">
  <!-- Custom -->
  <link rel="stylesheet" href="partials/css-particles/style-particles.css">
  <!-- Responsive -->
  <link href="partials/css-particles/responsive-particles.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".scrollspy" class="bg-dark">
<div id="page">
<!-- Homing Particle JS Loader -->
<div id="homing-particles" class="section-overlay"></div>
<!-- /end Homing Particle JS Loader -->
<!-- Overlay BG -->
<div class="section-overlay bg-black overlay-opacity-2"></div>
  <div class="container-fluid">
    <div class="row">
      <!-- ===Info=== -->
      <div id="info" class="col-md-12 text-white text-center page-info col-transform">
        <div class="vert-middle">
          <div class="reveal scale-out">

            <!-- Logo -->

              <img src="images/logo-lg.png" height="86" width="82" alt="">

            <!-- /End Logo -->
            <div class="p-t-b-20">
              <!-- Headline & Description -->
              <h2><span class="font-weight-200">We're launching our</span><br>new Website</h2>
              <p>We're coming soon! Awesome template to present your future product or service.<br>We're
                working hard to give you the best experience!<br>
              </p>
            </div>
              <!-- /End Headline & Description -->
              <div class="p-t-b-30">
             <a href="http://www.youtube.com/channel/UCm7qZjBkgvisBf3It_bURsA?sub_confirmation=1"  class="link-white icon icon-sm" xmlns="http://www.w3.org/2000/svg">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
              <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
            </svg></a>
              </div>
              <div class="p-t-b-30"></div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
<!-- /#page -->

<!-- Scripts -->
{{ partial "jquery-particles.html" . }}
{{ partial "homing-particles.html" . }}
{{ partial "custom-particles.html" . }}
</body>
</html>
</html>